.form_field{
  display: flex;
  flex-direction: column;
  padding:0.5rem;
}
.form_field label{
  font-weight: 600;
  margin-bottom: 1vmin;
  position: relative;
  opacity: 0.9;
  width:50vmin;
  transition: all 0.5 ease-in-out;
  pointer-events: none;
  border-left: 5px solid #ADD9D1;
  padding-left:10px;
  line-height: 2em;
  padding-bottom:5px;
}
.form_field input{
  padding: 7px;
  font-size: 16px;
  border-width: 2px;
  border-color: #6E6F73;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 7px;
  box-shadow: 0px 0px 5px rgba(66,66,66,.75);
  text-shadow: -50px 0px 0px rgba(66,66,66,.0);
  transition: ease-in-out 0.6s
}

.RadioBtn{
  padding: 7px;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  text-shadow: -50px 0px 0px rgba(66,66,66,.0);
  transition: ease-in-out 0.6s
}

.form_field input:focus {
  outline-color: #353940;
  outline-width: thin;
  transition: ease-out 0.8s;
}


.form_field .field_info{
  padding:0.5rem 0.25rem;
  padding-right: 0;
  font-size:0.8rem;
}
.form_field .field_error{
  padding:0.5rem 0.25rem;
  padding-right: 0;
  font-size:0.8rem;
  color: rgb(190, 49, 49);
}

button {
  margin:1vmin;
  color:#fff;
  font-weight: 600;
  border-width: thin;
  font-size:1rem;
  cursor: pointer;
}

button.button_primary{
  padding:0.75rem;
  background-color: #5a7373;
	border-radius:10px;
	border:1px solid #1c4d21;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
  transition:ease-in-out 0.5s;
}

button.button_primary:hover{
  background-color:#445555;
  transition: ease-in-out 0.2s;
  border: 2px solid #25632b;
  transform:scale(1.06);
}


button.button_secondary{
  padding:0.75rem;
  background-color: #4F7B96;
  display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
  border-radius:10px;
  transition: ease-in-out 0.9s;
}
button.button_secondary:hover{
  background-color:#4F7B96;
  transition: ease-in-out 0.2s;
  border: 2px solid #25632b;
  transform:scale(1.06);
}

button.pill {
  border-radius: 50%;
}
